# Folders
hybrid_robot/cmake-build-debug
venv
.idea
googletest
*cmake-build-debug
*build
hybrid_robot/cmake-build-debug/gtest/googletest/

hybrid_robot/cmake-build-debug/gtest/googlemock/

hybrid_robot/cmake-build-debug/devel/

hybrid_robot/cmake-build-debug/

*.pyc
*slprj
*.asv
*.slxc