<?xml version="1.0" ?>
<robot name="hybrid_robotv0_2" xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo reference="base">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="extension">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="motor_base">
    <material>Gazebo/Green</material>
  </gazebo>
  <gazebo reference="front_left_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <material>drc/san_fauxcity_sign</material>
  </gazebo>
  <gazebo reference="front_right_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <material>drc/san_fauxcity_sign</material>
  </gazebo>
  <gazebo reference="back_left_wheel">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>drc/san_fauxcity_sign</material>
  </gazebo>
  <gazebo reference="back_right_wheel">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>drc/san_fauxcity_sign</material>
  </gazebo>

  <gazebo>
      <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
          <robotNamespace>/hybrid_robotV0_2</robotNamespace>
      </plugin>
  </gazebo>


<!--  <gazebo>-->
<!--    <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">-->
<!--      <updateRate>100.0</updateRate>-->
<!--      <robotNamespace>/hybrid_robotV0_2</robotNamespace>-->
<!--      <leftFrontJoint>front_left_wheel_joint</leftFrontJoint>-->
<!--      <rightFrontJoint>front_right_wheel_joint</rightFrontJoint>-->
<!--      <leftRearJoint>back_left_wheel_joint</leftRearJoint>-->
<!--      <rightRearJoint>back_right_wheel_joint</rightRearJoint>-->
<!--      <wheelSeparation>0.4</wheelSeparation>-->
<!--      <wheelDiameter>0.215</wheelDiameter>-->
<!--      <robotBaseFrame>base</robotBaseFrame>-->
<!--      <torque>20</torque>-->
<!--      <topicName>cmd_vel</topicName>-->
<!--      <broadcastTF>false</broadcastTF>-->
<!--    </plugin>-->
<!--  </gazebo>-->

  <gazebo reference="base">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>60.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>
</robot>
