<?xml version="1.0" ?>
<robot name="hybrid_robotv0_3" xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo reference="base_high">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="base_short">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="motor_base">
    <material>Gazebo/Red</material>
  </gazebo>
</robot>