<?xml version="1.0" ?>
<robot name="hybrid_robotv0_3" xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo reference="base_high">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="base_short">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="motor_base">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="front_left_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <material>drc/san_fauxcity_sign</material>
  </gazebo>
  <gazebo reference="front_right_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <material>drc/san_fauxcity_sign</material>
  </gazebo>
  <gazebo reference="back_left_wheel">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>drc/san_fauxcity_sign</material>
  </gazebo>
  <gazebo reference="back_right_wheel">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>drc/san_fauxcity_sign</material>
  </gazebo>

  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
      <robotNamespace>/hybrid_robotV0_2</robotNamespace>
    </plugin>
  </gazebo>

  <gazebo reference="base_short">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>1000</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>280.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>
</robot>