<?xml version="1.0"?>
<robot name="hybrid_robotv0_2" xmlns:xacro="http://ros.org/wiki/xacro">
  <material name="black">
      <color rgba="0 0 0 1"/>
  </material>

  <material name="red">
      <color rgba="1 0 0 1"/>
  </material>

  <material name="blue">
      <color rgba="0 0 1 1"/>
  </material>
</robot>
