<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <param name="robot_description"
         command="$(find xacro)/xacro '$(find hybrid_jumping_robot)/urdf/last_model.urdf.xacro' use_gazebo_sim:=true"/>
  <!-- ==================================================== -->
  <!-- Gazebo specific options                              -->
  <!-- ==================================================== -->
  <arg name="gazebo_gui" default="true"/>
  <arg name="paused" default="false"/>

  <!-- ==================================================== -->
  <!-- Launch Gazebo with a world                           -->
  <!-- ==================================================== -->
  <!-- Startup simulated world -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find hybrid_jumping_robot)/worlds/blank.world"/>
    <arg name="verbose" value="true"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.075"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <node name="hybrid_robotv0_3_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false"
        args="-urdf -param robot_description -model hybrid_robotV0_3 -x $(arg x) -y $(arg y) -z $(arg z)
          -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
</launch>